/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,700,300italic,700italic);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #4a4a4a;
$headingColor: #2980b9;

$mainFontSize: 38px;
$mainFont: 'Ubuntu', 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Ubuntu', 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #2980b9;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}

// Add brand header
.brand {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background: $headingColor url(../jr-banner.png) no-repeat left center;
	z-index: 30;
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
